# Archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar carpetas pycache de los modulos datos y vistas
datos/__pycache__/
vistas/__pycache__/

# No ignorar el archivo data.db (ubicado en la carpeta datos)
!datos/data.db